
<a href="{{ path('helloWithName', {'name': 'Mickey'}) }}">Hello Mickey</a>
<a href="{{ path('helloWithName', {'name': 'Tiny'}) }}">Hello Tiny</a>
<a href="{{ path('helloWithName', {'name': 'Tom'}) }}">Hello Tom</a>
<a href="{{ path('helloWithName', {'name': 'Jerry'}) }}">Hello Jerry</a>
